ANALYSIS_API_KEY=
ORGANIZER_API_KEY=

GOOGLE_API_KEY=
GOOGLE_CX_ID=
BING_API_KEY=
SERPER_API_KEY=
BAIDU_API_KEY=
BAIDU_SECRET=

REDIS_ENABLED=false
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0
REDIS_MAX_CONNECTIONS=50

AI_WEB_SEARCH_CONFIG=config/config.yaml
